@layout('layouts/base')

@section('content')
<form action="/article" method="POST">
<input name="title" type="text" placeholder="Titulo"/>
<input name="author" type="text" placeholder="Autor"/>
<textarea name="content" placeholder="Conteúdo"></textarea>
<input type="submit"/>
</form>
@end